*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

    .pink{
      background-color:rgba(0,0,0, 40%);
      text-align:center;
      margin-bottom:0; 
      }


  body {  
    margin-top:5em;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment:fixed;    
    color:white;
    font-size:1.2em;
    position: center;
    z-index: -1;    
    } 

    .hacked_video {
      width: 100vw;
      height: 100vh;
      position: fixed; /* Ensure video stays fixed */
      top: 0;
      left: 0;
      z-index: -1; /* Keep the video behind other content */
      object-fit: cover; /* Ensures the video covers the background proportionally */
      object-position: center; /* Centers the video content */
    }


  
  main{
    margin-top: 8rem;
    margin: 0vh 60vh;
  }


  fieldset{
  background-color:rgba(0,0,0, 65%);
    border-color:transparent;
    border-top-width:25px;
  }
  
  #survey-form{
    padding-bottom:15;
  
  }
  
  label{
    display:block;
    margin: 15px 0;  
  }
  
  
  
  button{
    margin:0 13;
    width:13em;
    height:1.5em;
    font-size:30px;
    background-color:green;
    text-align: center
  }
  
   
  
  
  @media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    body {
      margin-top: 3em; /* Decrease top margin */
    }
  
    main {
      margin: 0 5%; /* Adjust main margin */
    }
  
    #navbar {
      flex-direction: column;
      align-items: center;
    }
  
    #navbar p a {
      padding: 0.5em;
    }
  
    #navbar #links {
      grid-template-columns: repeat(2, minmax(min-content, max-content));
    }


  .pink{
    padding-top: 5em;;
  }

    /* Adjust button size for smaller screens */
    button {
      width: 80%; /* Make button full width */
      font-size: 1em; /* Adjust font size */
    }


    footer{
      font-size: 0.5em;;
    }
  }